<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_860_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,178},{58,74}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{58,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,72},{60,74}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{60,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{58,74}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{58,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{56,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{56,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,194},{56,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{56,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,134},{58,74}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{58,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,118},{58,74}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{58,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,60},{56,76}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{56,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_184.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,238},{56,72}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{56,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_185.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,252},{58,66}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{58,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,296},{58,62}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{58,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_187.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{56,66}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,23},{56,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_188.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{68,86}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{68,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_189.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,86}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{68,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_190.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{64,80}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{64,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_860_191.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{56,76}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{56,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e1fd7e7399f4c8dd88aa0cae1c41538$</string>
            <key>textureFileName</key>
            <string>enemy4.png</string>
        </dict>
    </dict>
</plist>
