<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_120_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{66,86}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{66,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,390},{60,84}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{60,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,406},{66,86}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{66,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,428},{78,84}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{78,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,452},{82,82}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{82,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,536},{72,82}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{72,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,756},{66,80}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,28},{66,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,508},{66,82}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,30},{66,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{72,80}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,29},{72,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,782},{74,76}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,674},{74,78}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{74,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,638},{70,80}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{70,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,824},{64,78}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{64,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{66,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{66,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,776},{68,78}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,25},{68,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,682},{72,80}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,26},{72,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,576},{54,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,28},{54,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,572},{64,82}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{64,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,546},{58,82}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,29},{58,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,390},{64,82}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{64,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,750},{76,76}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,606},{80,74}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,474},{70,84}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{70,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,360},{66,86}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{66,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{64,84}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{64,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,632},{74,80}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,37},{74,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,474},{76,80}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{76,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,556},{76,78}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,31},{76,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,754},{70,74}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,34},{70,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,828},{64,72}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,37},{64,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,708},{66,80}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{66,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,710},{70,78}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{70,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{74,80}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,33},{74,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_159.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,346},{58,88}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,23},{58,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{94,86}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{94,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_161.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,78},{100,82}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{100,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_162.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,168},{94,82}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{94,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_163.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{98,82}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{98,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_164.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,144},{72,100}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{72,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_166.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,86}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{104,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_168.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,78},{102,70}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{102,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_170.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{102,74}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{102,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_172.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{86,72}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{86,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_174.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,696},{56,78}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{56,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_192.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,890},{68,76}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{68,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_193.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,960},{54,70}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,39},{54,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_194.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,634},{60,82}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{60,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_195.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{58,78}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{58,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_196.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,150},{64,100}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{64,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_198.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,228},{80,92}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{80,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{62,80}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,38},{62,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,324},{64,86}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,38},{64,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{66,90}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{66,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,98},{68,90}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{68,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_224.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,286},{92,72}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{92,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{102,68}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{102,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_226.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,218},{94,66}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{94,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{98,68}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{98,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_228.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,216},{72,98}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_230.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,74}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{104,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_232.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,72},{102,70}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{102,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_234.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,68}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{104,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_236.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,252},{86,70}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,42},{86,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_238.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,290},{54,92}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{54,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,310},{66,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{66,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_257.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,378},{52,86}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,18},{52,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_258.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,432},{56,84}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{56,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_259.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{56,82}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,17},{56,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_260.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,162},{64,100}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_262.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,490},{80,82}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{80,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_264.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,610},{62,82}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,46},{62,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_266.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,858},{64,68}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,48},{64,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_268.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,826},{66,72}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,45},{66,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>M_120_270.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,846},{68,76}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{68,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71332698fbfef9c8f7fc4b5dc79bc465$</string>
            <key>textureFileName</key>
            <string>enemy1.png</string>
        </dict>
    </dict>
</plist>
