<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roleEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1392},{126,78}}</string>
                <key>offset</key>
                <string>{13,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,212},{126,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{138,264}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,38},{138,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1116},{134,246}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,53},{134,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect12.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,870},{146,256}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,45},{146,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect13.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,592},{36,108}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,112},{36,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1636},{30,108}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,112},{30,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect15.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1348},{24,108}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,112},{24,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect16.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1472},{24,94}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,113},{24,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,362},{118,214}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,73},{118,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1536},{122,230}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,65},{122,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1296},{140,244}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,56},{140,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1438},{138,244}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,55},{138,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{120,248}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,51},{120,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{146,260}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,42},{146,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{146,264}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,39},{146,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffect9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{142,264}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,37},{142,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1392},{126,78}}</string>
                <key>offset</key>
                <string>{13,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,212},{126,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,438},{138,264}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,38},{138,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{134,246}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,53},{134,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{146,256}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,45},{146,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd13.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,592},{36,108}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,112},{36,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1604},{30,108}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,112},{30,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd15.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1238},{24,108}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,112},{24,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd16.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1472},{24,94}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,113},{24,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,242},{118,214}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,73},{118,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,992},{122,230}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,65},{122,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{140,244}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,56},{140,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1252},{138,244}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,55},{138,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,996},{120,248}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,51},{120,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,578},{146,260}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,42},{146,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{146,264}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,39},{146,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,294},{142,264}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,37},{142,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{126,78}}</string>
                <key>offset</key>
                <string>{13,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,212},{126,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf10.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,434},{138,264}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,38},{138,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1118},{134,246}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,53},{134,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf12.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,726},{146,256}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,45},{146,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,482},{36,108}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,112},{36,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1572},{30,108}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,112},{30,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1128},{24,108}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,112},{24,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf16.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1472},{24,94}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,113},{24,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,122},{118,214}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,73},{118,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,868},{122,230}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,65},{122,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1254},{140,244}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,56},{140,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{138,244}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,55},{138,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{120,248}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,51},{120,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,574},{146,260}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,42},{146,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf8.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{146,264}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,39},{146,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,150},{142,264}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,37},{142,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{126,78}}</string>
                <key>offset</key>
                <string>{13,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,212},{126,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw10.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,294},{138,264}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,38},{138,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw11.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1018},{134,246}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,53},{134,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw12.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,722},{146,256}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,45},{146,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw13.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,482},{36,108}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,112},{36,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1540},{30,108}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,112},{30,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw15.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1018},{24,108}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,112},{24,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw16.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1458},{24,94}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,113},{24,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{118,214}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,73},{118,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,744},{122,230}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,65},{122,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw4.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1154},{140,244}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,56},{140,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1396},{138,244}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,55},{138,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,874},{120,248}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,51},{120,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw7.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,482},{146,260}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,42},{146,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,264}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,39},{146,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>roleEffectw9.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,150},{142,264}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,37},{142,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roleEffect.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca3bba9828157a46b62cc09b49536ce7$</string>
            <key>textureFileName</key>
            <string>roleEffect.png</string>
        </dict>
    </dict>
</plist>
