<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CH20241_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,458},{42,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,23},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,62},{42,90}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,23},{42,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{42,90}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,24},{42,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,94},{42,90}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,23},{42,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,432},{42,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,23},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,394},{42,88}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,24},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{42,88}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,24},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,456},{42,88}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,24},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,232},{58,88}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{58,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{58,90}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{58,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,90}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{58,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{56,90}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{56,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,292},{56,88}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{56,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,232},{58,88}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{58,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,536},{58,86}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{58,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{58,88}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{58,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,138},{62,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{62,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,170},{60,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{60,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,168},{62,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{62,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,138},{62,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{62,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,106},{62,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{62,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{62,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{62,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,104},{62,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{62,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{60,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{60,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,340},{46,88}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{46,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,320},{46,88}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{46,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,550},{46,86}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,23},{46,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,292},{46,88}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{46,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,182},{46,88}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{46,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{46,90}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,21},{46,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,48},{44,90}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,23},{44,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{44,90}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,21},{44,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,414},{42,88}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,23},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,388},{42,88}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,350},{42,88}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{42,88}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,412},{42,88}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,23},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,94},{42,90}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,23},{42,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,60},{42,90}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{42,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,50},{42,90}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,23},{42,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,202},{58,88}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{58,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,202},{58,88}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{58,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{56,88}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,26},{56,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,262},{56,88}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{56,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,262},{56,88}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,24},{56,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,448},{58,86}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{58,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,360},{58,86}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{58,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,272},{58,86}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{58,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{62,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,624},{62,86}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,26},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,564},{62,86}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,502},{62,86}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,476},{62,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,438},{62,86}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{62,86}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,500},{62,86}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,368},{44,88}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,24},{44,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,566},{46,86}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{46,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,540},{46,86}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{46,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,502},{46,86}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{46,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,92},{46,88}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{46,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{46,88}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{46,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,366},{44,88}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,26},{44,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>CH20241_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,320},{44,88}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,25},{44,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a6265d59b1d6cd47fd2e796f9c75e9e$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
