<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>精选技能光效 (16)0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,638},{154,144}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,161},{154,144}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,722},{152,144}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,161},{152,144}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{148,150}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,158},{148,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,568},{152,150}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,158},{152,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{154,140}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,163},{154,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,868},{146,144}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,161},{146,144}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,348},{106,114}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,176},{106,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,348},{140,194}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,83},{140,194}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{148,192}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,82},{148,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{158,202}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,76},{158,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,180},{166,210}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,72},{166,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{176,214}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,70},{176,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,244}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,40},{186,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,868},{142,140}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,37},{142,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{160,156}}</string>
                <key>offset</key>
                <string>{-9,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,37},{160,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,490},{162,146}}</string>
                <key>offset</key>
                <string>{-7,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,48},{162,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (16)0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,464},{102,102}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,69},{102,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:913b07bbdb37cb959d364f1f59829dd0$</string>
            <key>textureFileName</key>
            <string>gate.png</string>
        </dict>
    </dict>
</plist>
